h1,
h2,
p {
  text-align: center;
}
body {
  background-color: rgb(228, 202, 168);
  background-image: url(/images/MariaTeaShop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  padding: 20px; 

}
.teaMenu {
  width: 80%; 
  max-width: 500px;
  /* background-color: rgb(228, 202, 168); */
  background-color: rgba(228, 202, 168, 0.406);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1 {
  margin: 0;
}

.establish {
  font-style: italic;
}

img {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: -25px;
}

hr {
  height: 0.5px;
  background-color: rgb(228, 202, 168, 0.406);
  border: rgb(228, 202, 168, 0.406);
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.75);
}

.topHorizontalRule {
  margin-top: 25px;
}

.bottomHorizontalRule {
  margin-top: 25px;
  margin-bottom: 30px;
}
.teaItem p{
  /* background-color: red; */
  display: inline-block;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}


.teaFlavor, .teaCollection{
  background-color: red;
  text-align: left;
  width: 75%;
}

.teaPrice, .collectionPrice {
  background-color: blue;
  text-align: right;
  width: 25%;
}

/* footer for the header section*/

footer {
  font-size: 14px;
}

a {
  color: black;
}