
h1,
h2,
p {
  text-align: center;
}
body {
  background-color: rgb(228, 202, 168);
  background-image: url(/images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;

}
.teaMenu {
  width: 80%; 
  max-width: 500px;
  /* background-color: rgb(228, 202, 168); */
  background-color: rgba(228, 202, 168, 0.406);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.teaItem p{
  /* background-color: red; */
  display: inline-block;
  font-weight: 400;
}


.teaFlavor, .teaCollection{
  background-color: red;
  text-align: left;
  width: 75%;
}

.teaPrice, .collectionPrice {
  background-color: blue;
  text-align: right;
  width: 25%;
}
